<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                            Admin Panel
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <a href="http://raincrowstudios.com">Raincrow Studios 2017</a>, Creatrix&#8482; - Power behind Covens.
            </div>
        </footer>