<div class="content" ng-controller="PlayerDataController">
<h></h>
<table class="table table-striped" id="my-table">
<tr>
<th> Username </th>
  <th> Buff </th>
  <th> Coins </th>
  <th> Coven </th>
  <th> Disabled </th>
  <th> DisabledTime </th>
  <th> Dominion </th>
  <th> Email </th>
  <th> Energy </th>
  <th> FIELD28 </th>
  <th> FIELD29 </th>
  <th> Flight </th>
  <th> FlightTime </th>
  <th> Gems </th>
  <th> Gender </th>
  <th> ImmuneList </th>
  <th> ImmuneListTimeStamp </th>
  <th> InviteCoven </th>
  <th> InviteName </th>
  <th> Latitude </th>
  <th> Longitude </th>
  <th> LunarPhase </th>
  <th> PlayerLevel </th>
  <th> Rank </th>
  <th> Shield </th>
  <th> ShieldTime </th>
  <th> TimeStamp </th>
  <th> XP </th>
</tr>
<tr ng-repeat="player in players">
    <td>{{player[0]}}</td>
    <td>{{player[1]}}</td>
    <td>{{player[2]}}</td>
    <td>{{player[3]}}</td>
    <td>{{player[4]}}</td>
    <td>{{player[5]}}</td>
    <td>{{player[6]}}</td>
    <td>{{player[7]}}</td>
    <td>{{player[8]}}</td>
    <td>{{player[9]}}</td>
    <td>{{player[10]}}</td>
    <td>{{player[11]}}</td>
    <td>{{player[12]}}</td>
    <td>{{player[13]}}</td>
    <td>{{player[14]}}</td>
    <td>{{player[15]}}</td>
    <td>{{player[16]}}</td>
    <td>{{player[17]}}</td>
    <td>{{player[18]}}</td>
    <td>{{player[19]}}</td>
    <td>{{player[20]}}</td>
    <td>{{player[21]}}</td>
    <td>{{player[22]}}</td>
    <td>{{player[23]}}</td>
    <td>{{player[24]}}</td>
    <td>{{player[25]}}</td>
    <td>{{player[26]}}</td>
    <td>{{player[27]}}</td>
</tr>
</table>
</div>