@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100vh - 133px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

/*
.footer {
	position: fixed;
	bottom: 0;
	right:0;
	width: 100%;
}
*/

.login-wrapper {
	display: flex;
	width:100%;
	flex-direction: column;
	justify-content: center;
}

.navbar-header {
	width: 100%;
}

.navbar {
	margin-bottom: 10px!important;
	
}

body,  .wrapper {
	min-height: 100vh;
}

.main-panel {
	min-height: 100%;
}

.bold {
	border-bottom-width: 1px;
    text-transform: uppercase;
    color: #9A9A9A;
    font-weight: 700;
    padding-bottom: 5px;
}

.feedbacks .row {
	padding-bottom: 8px;
}

.main-content {
    padding: 0!important;
    min-height: calc(100% - 133px);
}

.content {
        padding: 30px 15px;
}
